[project]
	description = PerformanceLab
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/viktor-bkstg
[access "refs/for/refs/*"]
	read = group user/viktor-bkstg
	push = group user/viktor-bkstg
	label-Code-Review = -2..+2 group user/viktor-bkstg
	label-Verified = -1..+1 group user/viktor-bkstg
	rebase = group user/viktor-bkstg
	removeReviewer = group user/viktor-bkstg
	submit = group user/viktor-bkstg
[access "refs/heads/*"]
	read = group user/viktor-bkstg
	create = group user/viktor-bkstg
	push = +force group user/viktor-bkstg
	pushMerge = group user/viktor-bkstg
[access "refs/tags/*"]
	push = +force group user/viktor-bkstg
	pushTag = group user/viktor-bkstg
	pushSignedTag = group user/viktor-bkstg
